
body{
  /* background-color:#0E0E12; */
  /* background-image: url(../src/Components/images/yllibackground.png); */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  overflow-x: hidden;
 overflow-y:hidden ;
  
}

::-webkit-scrollbar {
  display:none;
}
