.Nav {
  display: flex;
  background-color: #0e0e12 !important;
  align-items: center;
  color: white;
  overflow: hidden;
  position: fixed;
  padding-top: 1rem;
  width: 102%;
  margin-left: -1rem;

  overflow: hidden;
  // margin-left:0px;
  // padding-left:0px;
  justify-content: space-evenly;
  z-index: 999;
  @media screen and (max-width: 950px) {
    justify-content: space-between;
  }
  @media screen and (max-width: 450px) {
    height: 2.5rem;
    padding-bottom: 0.5rem;
  }
  height: 70px;
  top: -1px;
  .space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  a:link,
  a:hover,
  a:visited,
  a:active {
    color: white;
    text-decoration: none;
  }
  .NavItems {
    padding-left: 2rem;
    padding-right: 10rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    @media screen and (max-width: 1263px) {
      padding-left: 1rem;
      padding-right: 0rem;
    }
    //    @media screen and (max-width:1320px){
    //      padding-left:0rem;
    //    }
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
  .NavLinks {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    font-size: 1.1rem;
    cursor: pointer;
    @media screen and (max-width: 1213px) {
      gap: 1rem;
      font-size: 1rem;
    }
    @media screen and (max-width: 950px) {
      display: none;
    }

    .overline-from-left {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      overflow: hidden;

      // &:hover{
      //     cursor:pointer;
      //     transform: scale(1.5);
      //     transition: all 0.2s ease-in-out;
      // }

      &:before {
        content: "";
        position: absolute;
        cursor: pointer;
        z-index: -1;
        left: 0;
        right: 100%;
        top: -10px;
        background-color: purple;
        height: 12px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      &:hover:before {
        right: 0;
        background-color: white;
        z-index: 199;
        box-shadow: 1px 0px 14px 2px #fff;
      }
    }
  }
  .NavLogin {
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1382px) {
      padding-left: 3rem;
    }
    @media screen and (max-width: 950px) {
      display: none;
      padding-left: 0rem;
    }
  }
  .left {
    margin-left: 1.5rem;
    border: solid 1px rgba(255, 255, 255, 0.623);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    &:hover {
      // transition: all 0.2s ease-in-out;
      color: wheat;
      // transform: scale(1);
      border: 1px solid darkmagenta;
    }
  }
  .Register {
    &:hover {
      cursor: pointer;
    }
  }
  .NavLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 960px) {
      padding-left: 1.5rem;
    }
    .re {
      padding-left: 0.3rem;
      font-size: 1.7rem;

      font-weight: bold;
    }
  }

  .MobileICon {
    display: none;
    @media screen and (max-width: 950px) {
      color: white;
      display: block;
      padding-right: 1rem;
      font-size: 2rem;
    }
    // @media screen and (max-width:420px){
    //     padding-right:4rem;
    // }
    // @media screen and (max-width:380px){
    //     padding-right:5rem;
    // }
  }
}
